
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}

body {
  background-color: #0d1642;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}


.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 26px;
  color: #6fadff;
}


.todo-list-container {
  background-color: #ffffff;
  width: 420px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
 
}


.container-todo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.todo-input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.todo-input-container label {
  font-size: 15px;
  font-weight: 700;
  color: rgb(1, 1, 1);
}

.to-do-input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #748eb5;
  font-size: 14px;
}

.to-do-input:focus {
  outline: none;
  border-color: #4f46e5;
}

.add-button {
  margin-top: 10px;
  padding: 10px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.add-button:hover {
  background-color: #4338ca;
}

.todo-list ol {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo-list li {
  background-color: #eef4f9;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-list span {
  font-size: 14px;
  color: #789bcb;
}

.todo-list input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.delete-button {
  background-color: #ef4444;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #d82020;
}
